$mpc-green: #70a288;
$mpc-light-green: #B6D2A0;
$mpc-lightest-green: #e9F1ed;
$mpc-dark-blue: #031d44;
$mpc-beige: #dab785;
$mpc-light-beige: #f7f0e6;
$mpc-orange: #da6832;
$mpc-purple: #482c74;
$mpc-burgandy: #62264a;
$mpc-red: #de1831;
$mpc-grey: #595959;
$mpc-light-grey: #757575;

:root {
  --mpc-green: #{$mpc-green};
  --mpc-light-green: #{$mpc-light-green};
  --mpc-lightest-green: #{$mpc-lightest-green};
  --mpc-dark-blue: #{$mpc-dark-blue};
  --mpc-beige: #{$mpc-beige};
  --mpc-light-beige: #{$mpc-light-beige};
  --mpc-orange: #{$mpc-orange};
  --mpc-purple: #{$mpc-purple};
  --mpc-burgandy: #{$mpc-burgandy};
  --mpc-red: #{$mpc-red};
  --mpc-grey: #{$mpc-grey};
  --mpc-light-grey: #{$mpc-light-grey};
}