$mpc-text: #414141;
$mpc-gold: #ffcd36;
$mpc-pink: #c447a1;
$mpc-purple: #482c74;
$mpc-burgandy: #612649;
$mpc-dark-burgandy: #491D38;
$mpc-red: #de1831;
$mpc-dark-blue: #253f4c;
$mpc-darker-blue: #031D44;
$mpc-light-grey: #f5f5f5;
$mpc-medium-grey: #707070;
$mpc-blue: #5865f2;

:root {
  --mpc-text: #{$mpc-text};
  --mpc-gold: #{$mpc-gold};
  --mpc-pink: #{$mpc-pink};
  --mpc-purple: #{$mpc-purple};
  --mpc-burgandy: #{$mpc-burgandy};
  --mpc-dark-burgandy: #{$mpc-dark-burgandy};
  --mpc-red: #{$mpc-red};
  --mpc-dark-blue: #{$mpc-dark-blue};
  --mpc-darker-blue: #{$mpc-darker-blue};
  --mpc-light-grey: #{$mpc-light-grey};
  --mpc-medium-grey: #{$mpc-medium-grey};
  --mpc-blue: #{$mpc-blue};
}