$font-family-ampersand: 'Ampersand';

$font-family-opensans: 'OpenSans';
$opensans-weights: (
  "Regular": 400,
  "ExtraBold": 800
);

:root {
  --font-family-ampersand: '#{$font-family-ampersand}', Arial, Helvetica, sans-serif;
  --font-family-opensans: '#{$font-family-opensans}', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: '#{$font-family-ampersand}';
  src:
    local('#{$font-family-ampersand}'),
    url(~assets/fonts/Ampersand/Ampersand.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@each $name, $weight in $opensans-weights {
  @font-face {
    font-family: '#{$font-family-opensans}';
    src:
      local('#{$font-family-opensans}'),
      url(~assets/fonts/OpenSans/OpenSans-#{$name}.woff2) format('woff2'),
      url(~assets/fonts/OpenSans/OpenSans-#{$name}.woff) format('woff');
    font-weight: $weight;
    font-style: normal;
    font-display: swap;
  }
}
