@use './responsive-vars' as *;

html {
  font-family: sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 3.5rem;

  @media (min-width: $responsive-standard-tablet) {
    scroll-padding-top: 5rem;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--mpc-text);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-body);
  line-height: 1.5;
  letter-spacing: -0.45px;
  overflow-x: hidden;
}

img {
  height: auto;
  max-width: 100%;
  user-select: none;
}

button {
  color: inherit;
}

a, button {
  touch-action: manipulation;
}

svg {
  height: 100%;
  width: 100%;
  fill: currentColor;
  pointer-events: none;
}

iframe {
  height: 100%;
  width: 100%
}

strong, b {
  font-weight: 800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--mpc-purple);
  font-family: var(--font-family-luckiestguy);
  letter-spacing: normal;
}
