::selection {
  text-shadow: none;
  color: #000;
  background-color: var(--mpc-light-green);
}

html {
  font-family: sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--mpc-light-grey);
  font-family: var(--font-family-opensans);
  font-size: var(--font-size-body);
  line-height: 1.5;
  letter-spacing: -0.45px;
  overflow-x: hidden;
}

img {
  height: auto;
  max-width: 100%;
  user-select: none;
}

button {
  color: inherit;
}

a, button {
  touch-action: manipulation;
}

svg {
  height: 100%;
  width: 100%;
  fill: currentColor;
  pointer-events: none;
}

iframe {
  height: 100%;
  width: 100%
}

strong, b {
  font-weight: 800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--mpc-grey);
  font-family: var(--font-family-ampersand);
  letter-spacing: normal;
}
