.link {
  color: var(--mpc-text);
  text-decoration: underline;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  font-weight: 700;

  &--pink {
    color: var(--mpc-pink);
  }
}